{% extends 'store/main.html' %}
{% load static %}


{% block content%}

<main class="form-signin">

    <form action="register" method='post'>
      {% csrf_token %}
      <h1 class="h3 mb-3 fw-normal">Please Register</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="first_name" placeholder="first_name" >
        <label for="floatingInput">First Name</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="last_name" placeholder="last_name">
        <label for="floatingInput">Last name</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="username">
        <label for="floatingInput">Username</label>
      </div>

      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password1" placeholder="password">
        <label for="floatingPassword">Password</label>
      </div>

      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password2" placeholder="confirm password">
        <label for="floatingPassword">confirm password</label>
      </div>

 
      <button class="w-30 btn btn-lg btn-primary" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted">&copy; Adithya,Tejasvi</p>
    </form>
  </main> 

    <div>
        {% for message in messages %}
        <h2>{{message}}</h2>
        {% endfor %}
    </div>    

{% endblock %}
